# Machine Learning

## Data Merge

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
# Let's creating two Dataframes to merge them
df1 = pd.DataFrame({
    "ID":["10001","10002","10003","10004"],
    "Name": ["Asad","Aly","Adnan","Zainab"],
    "Age":["28","22","25","22"]
})
print("DataFrame 1:")
print(df1)
df2 = pd.DataFrame({
    "ID":["10001","10002","10003","10004"],
    "City": ["Karachi","Lahore","Islamabad","Quetta"],
    "Occupation":["Engineer","Doctor","Artist","Teacher"],
    "Salary":["50000","60000","70000","80000"]
}) 
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
      ID    Name Age
0  10001    Asad  28
1  10002     Aly  22
2  10003   Adnan  25
3  10004  Zainab  22

DataFrame 2:
      ID       City Occupation Salary
0  10001    Karachi   Engineer  50000
1  10002     Lahore     Doctor  60000
2  10003  Islamabad     Artist  70000
3  10004     Quetta    Teacher  80000

In [5]:
df = pd.merge(df1, df2,on="ID", how="inner")
print(df)

      ID    Name Age       City Occupation Salary
0  10001    Asad  28    Karachi   Engineer  50000
1  10002     Aly  22     Lahore     Doctor  60000
2  10003   Adnan  25  Islamabad     Artist  70000
3  10004  Zainab  22     Quetta    Teacher  80000

# Concatenation

In [7]:
# Let's create three different dataframes to concatenate them
df3 = pd.DataFrame({
    
    "Name": ["Ali","Sara"],
    "Age":["30","27"]
})
df4 = pd.DataFrame({

   
    "Occupation":["Scientist","Nurse"],
    "Salary":["90000","85000"]
})
df5 = pd.DataFrame({
     "City": ["Peshawar","Chicago"],
    "Country": ["Pakistan","United States"]
   
})
print("\nDataFrame 3:")
print(df3)
print("\nDataFrame 4:")
print(df4)
print("\nDataFrame 5:")
print(df5)

DataFrame 3:
   Name Age
0   Ali  30
1  Sara  27

DataFrame 4:
  Occupation Salary
0  Scientist  90000
1      Nurse  85000

DataFrame 5:
       City        Country
0  Peshawar       Pakistan
1   Chicago  United States

In [8]:
dff = pd.concat([df3,df4,df5], axis=1)
print("\nConcatenated DataFrame:")
print(dff)

Concatenated DataFrame:
   Name Age Occupation Salary      City        Country
0   Ali  30  Scientist  90000  Peshawar       Pakistan
1  Sara  27      Nurse  85000   Chicago  United States